core.Microsoft*
core.mongo*
core.python*
.venv/
env.py
*.env
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
*.sqlite3
*.db
/media/
staticfiles/
.vscode/
*.log
**/migrations/__pycache__/